.chatPage {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 85vh;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.sideBar {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.2);
    width: 50%;
    min-width: 200px;
}

.messageInput {
    background-color: #f6f6f6;
    height: 10px;
    border-radius: 5px;
    width: 90%;
}

.messageContainer {
    display: flex;
    margin-bottom: 3px;
    background: #eee;
    border-radius: 10px;
    padding: 5px 10px;
    width: auto;
    max-width: 70%;
}

.myMessage {
    margin-left: auto;
    background: #70aae3;
    color: #f6f6f6;
}