.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    max-height: 80vh;
}

.title {
    margin-top: 10px;
    font-size: large;
}

.details {
    margin: 5px 0;
}

.detailsSection {
    width: auto;
    margin: 20px 0 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #70aae3;
    font-size: medium;
}

.detailsHead {
    all:unset;
    display: flex;
    justify-content: space-between;
}

.editButton {
    margin-bottom: 10px;
    float: right;
}

.discussButton {
    margin: 5px;
    text-transform: initial;
}
