.card {
    width: 250px;
    display: flex;
    margin: 0;
    boxShadow: 1px 3px 3px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}

.summary {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}